In [3]:
# Import the pandas library and alias it as 'pd' for ease of use
import pandas as pd

# Import the numpy library and alias it as 'np' for ease of use
import numpy as np

In [4]:
# Read the data from the CSV file "Raw Sales Data.csv" into a DataFrame named 'raw_data'
raw_data = pd.read_csv("Raw Sales Data.csv")

In [5]:
# Convert the 'Month' column to datetime format, then convert it back to month names (e.g., "January", "February")
raw_data["Month"] = pd.to_datetime(raw_data["Month"]).dt.strftime('%B')

# Remove commas from the 'Qty' column and convert it to integer data type
raw_data["Qty"] = raw_data["Qty"].str.replace(",","").astype("int")

# Remove commas from the 'Sales' column and convert it to integer data type
raw_data["Sales"] = raw_data["Sales"].str.replace(",","").astype("int")

## 1. Monthwise number of quantities sold

In [6]:
# Group the 'raw_data' DataFrame by the 'Month' column and calculate the sum of quantities sold for each month
Mon_qty_sold = raw_data.groupby("Month")["Qty"].sum()

# Display the total quantity sold for each month
Mon_qty_sold

Month
December    85427
February    76393
January     67732
March       80229
Name: Qty, dtype: int32

## 2. Category wise Qty sold

In [5]:
# Group the 'raw_data' DataFrame by the 'Category' column and calculate the sum of quantities sold for each category
cat_qty_sold = raw_data.groupby("Category")["Qty"].sum()

# Display the total quantity sold for each category
cat_qty_sold

Category
Functional nutrition     42354
Gourmet Nutrition        89279
Juices                  178148
Name: Qty, dtype: int32

## 3. Sub-channel wise total sales

In [7]:
# Group the 'raw_data' DataFrame by the 'Sub-Channels' column and calculate the sum of sales for each sub-channel
chan_sales = raw_data.groupby("Sub-Channels")["Sales"].sum()

# Display the total sales for each sub-channel
chan_sales

Sub-Channels
AMAZON               35606804
Big Basket            1207522
D2C                  28047538
Flipkart              3770415
GOQII                  582600
Offline - Central      375332
Offline - East         811146
Offline - MT          6257948
Offline - South       3446395
Offline - West        6441427
Offline -North        1206564
Name: Sales, dtype: int32

## 4. Highest sale in which month

In [8]:
# Group the 'raw_data' DataFrame by the 'Month' column, calculate the sum of sales for each month,
# sort the results in descending order, reset the index, and select the first row to get the highest selling month
High_sale = raw_data.groupby("Month")["Sales"].sum().sort_values(ascending=False).reset_index().iloc[0]["Month"]

# Create a new DataFrame with the highest selling month stored in a single column named 'Highest selling month'
High_sale = pd.DataFrame({'Highest selling month': [High_sale]})

# Display the DataFrame containing the highest selling month
High_sale

  Highest selling month
0                 March

### 5. Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [8]:
# Replace numerical digits with '#' in the "Product Name" column, then split each value at '#' and take the first part
raw_data["Product Name"] = raw_data["Product Name"].replace('\d', '#').apply(lambda X: X.split("#")[0])

# Group the DataFrame by "Product Name", calculate the sum of sales for each product,
# sort the results in descending order, reset the index, and select the top row to get the highest selling product
High_sel_pd = raw_data.groupby("Product Name")["Sales"].sum().sort_values(ascending=False).reset_index().head(1)

# Extract the name of the highest selling product from the DataFrame
High_sel_pdd = High_sel_pd["Product Name"]

### 6. List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

In [9]:
# Get the unique product names from the "Product Name" column of the raw_data DataFrame
diff_pd_lst = raw_data["Product Name"].unique()

# Create a new DataFrame 'Com_pro' with a single column "Product Name" containing unique product names
Com_pro = pd.DataFrame({"Product Name": diff_pd_lst})

## 7. Create a single excel file to save all the outputs generated above in different subsheets.

In [91]:
# Open an ExcelWriter object to write data to an Excel file named "FMCG Assignment.xlsx"
with pd.ExcelWriter("FMCG Assignment.xlsx") as writer:
    # Write the 'Mon_qty_sold' DataFrame to a sheet named "Month Wise Qty Sold"
    Mon_qty_sold.to_excel(writer, sheet_name="Month Wise Qty Sold")

    # Write the 'cat_qty_sold' DataFrame to a sheet named "Cat wise Qty Sold"
    cat_qty_sold.to_excel(writer, sheet_name="Cat wise Qty Sold")

    # Write the 'chan_sales' DataFrame to a sheet named "Sub_Chan Wise Sales"
    chan_sales.to_excel(writer, sheet_name="Sub_Chan Wise Sales")

    # Write the 'High_sale' DataFrame to a sheet named "Highest Selling Month" without including the index
    High_sale.to_excel(writer, "Highest Selling Month", index=False)

    # Write the 'High_sel_pdd' Series to a sheet named "Highest Selling Product" without including the index
    High_sel_pdd.to_excel(writer, sheet_name="Highest Selling Product", index=False)

    # Write the 'Com_pro' DataFrame to a sheet named "Company Products list" without including the index
    Com_pro.to_excel(writer, sheet_name="Company Products list", index=False)